.container-character {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    background-color: #0c0c0d;

    &__name {
        margin-top: 40px;
        text-align: center;
        z-index: 2;

        h1 {
            font-size: 200px;
            font-weight: bold;
            color: #fdfdff;
        }
    }

    &__infos {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 1600px;
        padding: 20px;
        margin: 20px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        background-color: #0c0c0d;
        border-radius: 20px;

        &__picture {
            padding: 20px;
            
            img {
                width: 100%;
            }
        }

        &__data {
            display: flex;
            flex-direction: column;
            max-width: 1600px;
            padding: 20px;
            gap: 20px;

            &__rank {
                text-align: center;
                margin-bottom: 20%;
                
                p {
                    font-size: 128px;
                    color: #fdfdff;
                    font-weight: bold;
                    text-shadow: 0px 0px 15px #000000;

                    span {
                        color: red;
                    }
                }
            }

            &__rarity {               
                display: flex;
                flex-direction: row;
                align-items: center;
                place-content: center;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 20px;
                gap: 20px;
                padding: 20px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

                p {
                    font-size: 24px;
                    color: #fdfdff;
                }

                img {
                    width: 20%;
                }
            }

            &__path {
                display: flex;
                flex-direction: row;
                align-items: center;
                place-content: center;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 20px;
                gap: 20px;
                padding: 20px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

                p {
                    font-size: 24px;
                    color: #fdfdff;
                }

                img {
                    width: 10%;
                }
            }

            &__element {
                display: flex;
                flex-direction: row;
                align-items: center;
                place-content: center;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 20px;
                gap: 20px;
                padding: 20px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

                p {
                    font-size: 24px;
                    color: #fdfdff;
                }

                img {
                    width: 10%;
                }
            }
        }
    }
}

.eidolons-wrapper {
    background-color: #0c0c0d;
    z-index: 1;
    position: relative;
}

.eidolons {
    position: relative;
    width: 100%;
    height: 650px;

        &__items {
            position: absolute;
            width: 400px;
            height: 570px;
            text-align: justify;
            padding: 20px;
            left: calc(50% - 200px);
            border-radius: 20px;
            text-align: center;
            align-content: center;
            transition: 0.5s;

            img {
                width: 100%;
                margin-bottom: 20px;
            }

            h1 {
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 20px;
                color: #fdfdff;
            }

            h2 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
                color: #fdfdff;
            }

            p {
                color: #fdfdff;
            }
        }    
}

#next, #prev{
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    left: 300px;
    width: 60px;
    cursor: pointer;
}
#next{
    left: unset;
    right: 300px;
}


@media (max-width: 1024px) {
    .container-character {
        &__name {
            h1 {
                font-size: 100px;
            }
        }
    }

    #prev {
        left: 150px;

    }

    #next {
        right: 150px;
    }
}

@media (max-width: 768px) {
    .container-character {
        &__name {
            h1 {
                font-size: 50px;
            }
        }
    }

    .eidolons {
        height: 400px;

        &__items {
            width: 200px;
            height: 285px;
            left: calc(50% - 100px);

            h1 {
                font-size: 24px;
            }

            h2 {
                font-size: 16px;
            }

            p {
                font-size: 12px;
            }
        }

        #prev {
            left: 20px;

        }

        #next {
            right: 20px;
        }
    }
}