.container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;

  &__topbar {
    display: flex;
    justify-content: center;
    max-width: 1600px;
    background-color: #0c0c0d;
    padding: 20px;

    h1 {
      font-size: 100px;
      font-weight: bold;
      color: #fdfdff;
    }
  }

  &__image {
    display: flex;
    width: 100%;
    max-width: 1600px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    max-width: 1600px;
    background-color: #0c0c0d;

    &__infos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 1600px;
      padding-left: 20px;
      padding-right: 20px;

      &__left {
        flex: 0.4;
        position: relative;

        img {
          position: absolute;
          top: -70%;
          left: 0;
          width: 120%;
          max-width: none;
          height: auto;
          transition: all 0.5s ease;

          &:hover {
            transform: scale(1.05) translateY(-5px)
          }
        }
      }

      &__right {
        text-align: left;
        flex: 0.5;
        padding: 20px;

        &__title {
          border-bottom-style: groove;
          border-bottom-color: #fdfdff;
          border-bottom-width: 2px;
          padding-bottom: 20px;
          display: flex;
          place-content: space-between;
          position: relative;

          h1 {
            font-size: 50px;
            font-weight: bold;
            color: #338577;
          }

          img {
            position: absolute;
            width: 40%;
            right: 0px;
            top: -70px;
          }
        }

        &__subtitle {
          border-bottom-style: groove;
          border-bottom-color: #fdfdff;
          border-bottom-width: 2px;
          padding-bottom: 20px;
          display: flex;
          place-content: left;
          margin-top: 20px;

          p {
            font-size: 30px;
            font-weight: 200;
            color: #fdfdff;
          }
        }

        &__image {
          border-bottom-style: groove;
          border-bottom-color: #fdfdff;
          border-bottom-width: 2px;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;
          padding-bottom: 20px;
          display: flex;
          flex-direction: column;
          place-items: center;
          gap: 20px;
          padding-top: 20px;

          img {
            width: 100%;
          }

          a {
            font-size: 35px;
            background-color: #338577;
            text-decoration: none;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-radius: 40px;
            font-weight: bold;
            color: #fdfdff;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
              background-color: #fdfdff;
              color: #338577;
              transform: scale(1.03) translateY(-5px);
            }
          }
        }
      }
    }

    &__bottom {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 40px;
      gap: 20px;

      a {
        display: flex;
        place-content: center;
        transition: all 0.5s ease;
        opacity: 0.8;

        &:hover {
          transform: scale(1.05) translateY(-5px);
          box-shadow: 0 5px 15px #0c0c0d;
          opacity: 1;
        }
      }

      img {
        width: 100%;
        border-radius: 50px 50px 0px 0px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .container__content__infos {
    &__left {
      img {
        top: -50%;
      }
    }

    &__right {
      img {
        top: -60px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container__topbar {
    h1 {
      font-size: 80px;
    }
  }

  .container__content__infos {
    justify-content: center;
    &__left {
      display: none;
    }

    &__right {
      text-align: center;
      flex: 1;

      &__title {
        place-content: center;
        align-items: center;
        gap: 20px;

      img {
        position: static;
        width: 10%;
        height: 100%;
        top: 0;
      }
      }
    }
  }
}

@media (max-width: 768px) {
  .container__topbar {
    h1 {
      font-size: 50px;
    }
  }

  .container__content__bottom {
    grid-template-columns: 1fr 1fr;

    img {
      border-radius: 20px;
    }
  }

  .container__content__infos__right {
    img {
      display: none;
    }
  }
}