.content-background {
    position: relative;
    height: 100%;

    &__picture {
        position: relative;
        bottom: 30vh;

        img {
            position: relative;
            width: 100%;
            object-fit: contain;
        }
    }
}