.poster {
  position: relative;
    width: 100%;
    height: 72vh;
  
    &__picture,
    &__pictureforms1,
    &__pictureforms2,
    &__pictureforms3,
    &__pictureforms4 {
      position: absolute;
      z-index: -1;
      top: 0;
      width: 100%;
      max-width: 1600px;
      will-change: transform;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
}

@media (max-width: 1024px) {
  .poster {
    height: 45vh;
  }
}

@media (max-width: 768px) {
  .poster {
    height: 35vh;
  }
}
  