
body {
    background-color: #0d0d0f;
    font-family: "Cal Sans", sans-serif;
    scroll-behavior: smooth;
}


body.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}


.content {
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto; /* 0 en haut et en bas et auto à gauche et à droite */
}