body {
    background-color: #bb85ea;
    font-family: "Cal Sans", sans-serif;
}


.content {
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto; /* 0 en haut et en bas et auto à gauche et à droite */
    // background-color: #373F51;
}